{
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "indent": ["error", 4],
    "no-bitwise": "off",
    "no-plusplus": "off",
    "no-mixed-operators": "off",
    "prefer-template": "warn"
  }
}