<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiplayer Game of Life</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
        <h1 id="heading">Multiplayer Game of Life</h1>
        <canvas id="canvas" width=901 height=601></canvas>
    </div>
    <script src="/primus/primus.js"></script>
    <script src="js/game-of-life.js"></script>
</body>
</html>